*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #edf2f8;
}

.container{
    max-width: 1200px;
    margin: 100px auto;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.card-1, .card-2, .card-3, .card-4, .card-5{
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    box-shadow:rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-bottom: 20px;
}

.card-header{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.card-header h3{
    font-size: 15px;
}

.card-header p{
    opacity: 50%;
}

.card-image{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid #996ed9;
    margin-right: 10px;
}

.card-lead{
    font-size: 1.4rem;
    margin-bottom: 20px;
}

.card-desc{
    font-size: 15px;
    line-height: 1.4;
    opacity: 70%;
}

.card-1{
    background-color: purple;
    color: white;
    background-image: url(images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: top 10px right 100px;
    grid-column: 1 / span 2;
}

.card-2{
    background-color: gray;
    color: white;
}

.card-4{
    background-color: black;
    color: #fff;
    grid-column: 2 / span 2;
    grid-row: 2;
}

.card-5{
    grid-column: 4;
    grid-row: 1 / span 2;
}
